<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/style.css">


  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="tabs">
      <ul>
        <li><a href="#tabs-all-players"><span class="span-all-players-count"></span> Players Total</a></li>
        <li><a href="#tabs-active-players"><span class="span-active-players-count"></span> Active Players</a></li>
        <li><a href="#tabs-inactive-players"><span class="span-inactive-players-count"></span> Inactive Players</a></li>
        <li><a href="#tabs-4">Game Time!</a></li>
      </ul>
      <div id="tabs-all-players">

        <h1>All Players <span class="span-all-players-count"></span></h1>

        <div class="active-player-error">
            <p class="error">You have no active players!</p>
        </div>

        <div class="inactive-player-notification">
            <p class="success">Everyone is here!  Congrats!</p>
        </div>

        <ol id="div-all-players"></ol>
      </div>
      <div id="tabs-active-players">

        <h1>Active Players <span class="span-active-players-count"></span></h1>
        <ol id="div-active-players"></ol>

        <div class="active-player-error">
            <p class="error">You have no active players!</p>
        </div>

      </div>
      <div id="tabs-inactive-players">

        <h1>Inactive Players <span class="span-inactive-players-count"></span></h1>
        <ol id="div-inactive-players"></ol>

        <div class="inactive-player-notification">
            <p class="success">Everyone is here!  Congrats!</p>
        </div>


      </div>
      <div id="tabs-4">
        <p>GAME TIME.</p>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/assets/js/app.js"></script>


  </body>
</html>
