<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/style.css">


  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="tabs">
      <ul>
        <li><a href="#tabs-all-players">All Players</a></li>
        <li><a href="#tabs-active-players">Active Players</a></li>
        <li><a href="#tabs-inactive-players">Inactive Players</a></li>
        <li><a href="#tabs-4">Game Time!</a></li>
      </ul>
      <div id="tabs-1">

        <h1>All Players</h1>
        <ol id="div-all-players"></ul>
          
      </div>
      <div id="tabs-active-players">

        <h1>Active Players</h1>
        <ol id="div-active-players"></ul>
          
      </div>
      <div id="tabs-inactive-players">
        <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>

      </div>
      <div id="tabs-4">
        <p>GAME TIME.</p>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/assets/js/app.js"></script>


  </body>
</html>
