body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 700px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

ol {
  margin-left: 0; 
  padding-left: 15px;
  
}
li {
  padding: 10px 10px 10px 10px;
  margin: 0 0 10px 0;
  background: #eee;
  border-color: #ddd;
}

.toggle-player {
  cursor: pointer;
}

#tabs {
  min-height: 300px;
}

.active-player-error {
  display: none;
}

.error {
  border: 1px solid #eee;
  background: red;
  color: #fff;
  padding: 10px;
}


 /*Remove all border radius settings */
* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

